In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df= pd.read_csv("Cardetails.csv")

In [3]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [4]:
df['name'].unique()

array(['Maruti Swift Dzire VDI', 'Skoda Rapid 1.5 TDI Ambition',
       'Honda City 2017-2020 EXi', ..., 'Tata Nexon 1.5 Revotorq XT',
       'Ford Freestyle Titanium Plus Diesel BSIV',
       'Toyota Innova 2.5 GX (Diesel) 8 Seater BS IV'], dtype=object)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [6]:
df.shape

(8128, 13)

In [7]:
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'torque',
       'seats'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [9]:
# duplicates check 
df.duplicated().sum()

np.int64(1202)

In [10]:
df.drop_duplicates(inplace= True)

In [11]:
df.shape

(6926, 13)

In [12]:
# check for null values 
df.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          208
engine           208
max_power        205
torque           209
seats            208
dtype: int64

In [13]:
df.dropna(inplace= True)

In [14]:
df.reset_index(drop=True)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6712,Maruti Wagon R VXI BS IV with ABS,2013,260000,50000,Petrol,Individual,Manual,Second Owner,18.9 kmpl,998 CC,67.1 bhp,90Nm@ 3500rpm,5.0
6713,Hyundai i20 Magna 1.4 CRDi,2014,475000,80000,Diesel,Individual,Manual,Second Owner,22.54 kmpl,1396 CC,88.73 bhp,219.7Nm@ 1500-2750rpm,5.0
6714,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
6715,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
6716,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0

In [15]:
df.shape

(6717, 13)

In [16]:
# drop unwanted columns 
df.drop(columns=['torque'], inplace=True)

In [17]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6717 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6717 non-null   object
 1   year           6717 non-null   int64
 2   selling_price  6717 non-null   int64
 3   km_driven      6717 non-null   int64
 4   fuel           6717 non-null   object
 5   seller_type    6717 non-null   object
 6   transmission   6717 non-null   object
 7   owner          6717 non-null   object
 8   mileage        6717 non-null   object
 9   engine         6717 non-null   object
 10  max_power      6717 non-null   object
 11  seats          6717 non-null   float64
dtypes: float64(1), int64(3), object(8)
memory usage: 682.2+ KB

In [19]:
# EDA

In [20]:
df['mileage'] = df['mileage'].str.extract(r'(\d+(\.\d+)?)')[0]

In [21]:
df['mileage'].unique()

array(['23.4', '21.14', '17.7', '23.0', '16.1', '20.14', '17.3', '23.59',
       '20.0', '19.01', '19.3', '18.9', '18.15', '24.52', '19.7', '22.54',
       '21.0', '25.5', '26.59', '21.5', '20.3', '21.4', '24.7', '18.2',
       '16.8', '24.3', '14.0', '18.6', '33.44', '23.95', '17.0', '20.63',
       '13.93', '16.0', '17.8', '18.5', '12.55', '12.99', '14.8', '13.5',
       '26.0', '20.65', '27.3', '11.36', '17.68', '14.28', '18.53',
       '14.84', '21.12', '20.36', '21.27', '18.16', '22.0', '25.1',
       '20.51', '21.66', '25.2', '22.9', '16.02', '20.54', '22.77',
       '15.71', '23.1', '19.02', '19.81', '26.2', '16.47', '15.04',
       '19.1', '21.79', '18.8', '21.21', '15.37', '11.79', '19.0', '14.3',
       '15.8', '15.1', '19.09', '22.32', '21.9', '14.53', '21.63',
       '20.85', '20.45', '19.67', '23.01', '20.77', '17.92', '17.01',
       '22.37', '19.33', '9.5', '12.83', '22.48', '16.78', '14.67',
       '15.0', '13.96', '18.0', '12.07', '26.21', '10.8', '16.3', '13.6',
       '14.74', '15.6', '19.56', '22.69', '19.16', '18.12', '12.1',
       '17.5', '42.0', '20.4', '21.1', '19.44', '13.0', '21.43', '22.95',
       '16.2', '15.3', '28.09', '17.4', '19.4', '26.6', '17.6', '28.4',
       '14.1', '25.17', '22.74', '17.57', '16.95', '19.49', '17.21',
       '13.2', '14.2', '26.8', '25.4', '11.5', '27.28', '17.97', '12.8',
       '16.55', '12.05', '14.07', '21.02', '11.57', '17.9', '15.96',
       '17.1', '17.19', '21.01', '24.0', '25.6', '21.38', '23.84',
       '23.08', '14.24', '20.71', '15.64', '14.5', '16.34', '27.39',
       '11.1', '13.9', '20.88', '20.92', '23.8', '24.4', '15.29', '21.19',
       '22.5', '19.6', '23.65', '25.32', '23.5', '16.6', '23.9', '20.8',
       '27.62', '12.9', '25.44', '17.88', '22.7', '17.2', '15.42',
       '19.68', '18.7', '15.4', '19.34', '22.71', '25.8', '13.7', '12.2',
       '18.49', '9.0', '0.0', '13.58', '10.1', '20.5', '25.0', '10.5',
       '22.07', '22.3', '15.26', '20.62', '27.4', '23.2', '14.4', '18.4',
       '30.46', '14.02', '11.0', '20.6', '22.05', '20.2', '18.1', '22.1',
       '19.87', '13.01', '18.06', '26.1', '16.52', '13.55', '24.2',
       '25.83', '11.2', '17.09', '21.03', '17.45', '21.64', '21.94',
       '13.87', '19.98', '20.52', '23.57', '11.7', '17.43', '18.88',
       '13.68', '11.18', '20.89', '11.8', '19.62', '21.7', '14.9', '19.5',
       '10.91', '15.7', '20.73', '15.85', '20.7', '14.23', '16.5',
       '17.36', '12.6', '16.36', '14.95', '16.9', '19.2', '16.96',
       '22.15', '18.78', '19.61', '17.71', '18.3', '19.12', '19.72',
       '12.0', '11.4', '23.03', '11.07', '15.9', '17.67', '20.46', '13.1',
       '13.45', '24.8', '15.73', '15.11', '12.7', '21.2', '20.38',
       '21.56', '13.22', '14.49', '15.05', '23.26', '15.41', '13.8',
       '22.27', '32.52', '14.66', '12.12', '16.84', '14.09', '14.7',
       '13.4', '15.5', '13.49', '11.88', '14.6', '10.75', '24.5', '11.74',
       '16.07', '15.63', '26.3', '23.7', '25.47', '17.05', '23.3', '11.9',
       '13.38', '20.86', '10.9', '18.25', '15.2', '20.37', '21.8',
       '11.96', '24.04', '19.69', '13.73', '21.04', '25.01', '10.93',
       '24.29', '13.44', '20.07', '19.08', '20.34', '11.68', '12.5',
       '12.3', '23.87', '16.38', '17.42', '10.0', '18.24', '10.71',
       '19.59', '16.7', '19.83', '21.76', '16.05', '20.28', '16.25',
       '16.73', '18.48', '14.99', '18.76', '16.4', '19.64', '14.94',
       '17.11', '22.8', '32.26', '33.0', '12.4', '18.44', '16.09',
       '12.62', '21.13', '15.17', '21.73', '21.72', '12.85', '14.81',
       '13.24', '21.49', '14.62', '26.83', '11.45', '12.08', '15.74',
       '11.3', '14.21', '11.72', '16.51'], dtype=object)

In [22]:
df['engine'] = df['engine'].str.replace('CC','')

In [23]:
df['max_power'] = df['max_power'].str.replace('bhp','')

In [24]:
df.sample(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
1295,Fiat Grande Punto 1.3 Emotion Pack 90HP (Diesel),2011,280000,200000,Diesel,Individual,Manual,First Owner,20.5,1248,91.7,5.0
2431,Chevrolet Spark 1.0,2008,45000,70000,Petrol,Individual,Manual,First Owner,18.0,995,62,5.0
3747,Renault Duster 110PS Diesel RxZ,2012,320000,110000,Diesel,Individual,Manual,Third Owner,19.01,1461,108.45,5.0
8002,Renault Lodgy 85PS Std,2016,620000,7000,Diesel,Dealer,Manual,First Owner,21.04,1461,83.8,8.0
6127,Volkswagen Polo 1.2 MPI Comfortline,2016,385000,40000,Petrol,Individual,Manual,Second Owner,16.2,1199,74,5.0

In [25]:
df['mileage'] = df['mileage'].astype('float32')
df['engine'] = df['engine'].astype('int32')
df['max_power'] = df['max_power'].astype('float32')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6717 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6717 non-null   object
 1   year           6717 non-null   int64
 2   selling_price  6717 non-null   int64
 3   km_driven      6717 non-null   int64
 4   fuel           6717 non-null   object
 5   seller_type    6717 non-null   object
 6   transmission   6717 non-null   object
 7   owner          6717 non-null   object
 8   mileage        6717 non-null   float32
 9   engine         6717 non-null   int32
 10  max_power      6717 non-null   float32
 11  seats          6717 non-null   float64
dtypes: float32(2), float64(1), int32(1), int64(3), object(5)
memory usage: 603.5+ KB

In [27]:
df.corr(numeric_only = True)['selling_price']

year             0.427335
selling_price    1.000000
km_driven       -0.161265
mileage         -0.108655
engine           0.442772
max_power        0.692323
seats            0.158531
Name: selling_price, dtype: float64

In [28]:
# extracting brand name from name column
df['brand_name'] = df['name'].str.split(' ').str[0]

In [29]:
df['brand_name'].unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Datsun', 'Jeep', 'Mercedes-Benz',
       'Mitsubishi', 'Audi', 'Volkswagen', 'BMW', 'Nissan', 'Lexus',
       'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo', 'Kia', 'Fiat', 'Force',
       'Ambassador', 'Ashok', 'Isuzu', 'Opel'], dtype=object)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6717 entries, 0 to 8125
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6717 non-null   object
 1   year           6717 non-null   int64
 2   selling_price  6717 non-null   int64
 3   km_driven      6717 non-null   int64
 4   fuel           6717 non-null   object
 5   seller_type    6717 non-null   object
 6   transmission   6717 non-null   object
 7   owner          6717 non-null   object
 8   mileage        6717 non-null   float32
 9   engine         6717 non-null   int32
 10  max_power      6717 non-null   float32
 11  seats          6717 non-null   float64
 12  brand_name     6717 non-null   object
dtypes: float32(2), float64(1), int32(1), int64(3), object(6)
memory usage: 656.0+ KB

In [31]:
df.drop(columns=['name'],inplace=True)

In [32]:
df.columns

Index(['year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'seats',
       'brand_name'],
      dtype='object')

In [33]:
# graphs

In [34]:
sns. (df['selling_price'])
plt.title('Distribution of Used Car Prices')

SyntaxError: invalid syntax (196476688.py, line 1)

In [ ]:
df['brand_name'].value_counts().plot(kind='bar')

In [ ]:
sns.barplot(x=df['brand_name'],y=df['selling_price'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
# how many cars avaliable for each year?
df['year'].value_counts().plot(kind='bar')

In [ ]:
# average price per year
sns.barplot(x='year', y='selling_price', data=df, estimator='mean')
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.histplot(df['km_driven'])

In [ ]:
sns.scatterplot(x='km_driven', y='selling_price', data=df, alpha=0.7)

In [ ]:
df['fuel'].value_counts().plot(kind='bar')

In [ ]:
sns.barplot(x=df['fuel'],y=df['selling_price'])

In [ ]:
df['seller_type'].value_counts().plot(kind='bar')

In [ ]:
sns.barplot(x=df['seller_type'],y=df['selling_price'])

In [ ]:
df['transmission'].value_counts().plot(kind='bar')

In [ ]:
sns.barplot(x=df['transmission'],y=df['selling_price'])

In [ ]:
df['owner'].value_counts().plot(kind='bar')

In [ ]:
sns.barplot(x=df['owner'],y=df['selling_price'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.scatterplot(x='mileage', y='selling_price', data=df)

In [ ]:
sns.scatterplot(x='max_power', y='selling_price', data=df)

In [ ]:
sns.scatterplot(x='engine', y='selling_price', data=df)

In [ ]:
df['seats'].value_counts().plot(kind='bar')

In [ ]:
sns.barplot(x=df['owner'],y=df['selling_price'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
# Correlation heatmap
plt.figure(figsize=(12, 8))
sns.heatmap(df.corr(numeric_only= True), annot=True, cmap='coolwarm', fmt='.2f')
plt.title('Feature Correlation Matrix')
plt.show()

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df.info()

In [ ]:
df.drop(columns=['index'], inplace=True)

In [ ]:
df.info()

In [ ]:
# Model building

In [ ]:
df.head(10)

In [ ]:
#Converting this new clean dataframe to csv file to use in streamlit app
df.to_csv('new car.csv')

In [ ]:
df.shape

In [ ]:
X = df.drop(columns=['selling_price'])
y = df['selling_price']

In [ ]:
X

In [ ]:
y

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20)

In [ ]:
X_train

In [ ]:
import pickle
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [ ]:
ohe=OneHotEncoder()
ohe.fit(X[['fuel','seller_type','transmission','owner','brand_name']])

In [ ]:
# Random Forest Regressor
step1 = ColumnTransformer(
    transformers=[
        ('ohe', OneHotEncoder(categories=ohe.categories_), ['fuel', 'seller_type', 'transmission', 'owner', 'brand_name'])
    ],
    remainder='passthrough'
)
step2 = RandomForestRegressor()
pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print('R2 score',r2_score(y_test,y_pred))

In [ ]:
pickle.dump(pipe, open('pipeline.pkl', 'wb'))